{{> header.hbs }}

<div class="uk-margin-small-top uk-section uk-margin-xlarge-left uk-margin-xlarge-right uk-margin-large-top">
    <div style="background-color: {{color}}" class="uk-text-center">
        <h1 style="color: white;" class="super-bold uk-margin-small-bottom">Oh no, page not found!</h1>
        <h4 style="color: white;" class="moderate-bold">Looks like you need some help</h4>

        <br />

        <iframe class="uk-margin-small-bottom" width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0"
                allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>

{{> footer.hbs }}