{{> header.hbs }}

<div>
    <div class="uk-margin-small-top uk-section uk-section-large">
        <div class="uk-text-center">
            <h3 class="light">Derivative Rule | {{derivative.readable}}</h3>
            <p>See <a class="rem-1" href="/derivatives/">all rules →</a></p>

            <div id="derivative" class="uk-margin-medium-top">
                $$ \dfrac d{dx}[{{derivative.before}}] = {{derivative.after}} $$

                {{#if derivative.note}}
                    <p><i>Note: </i> {{derivative.note}}</p>
                {{/if}}

                {{> problem-script.hbs }}

                <br />
                <div class="uk-margin-large-top" id="gen-prb"></div>

                <script>generateProblem({{& generator-type}}, "gen-prb", "Test Yourself")</script>
            </div>
        </div>
    </div>
</div>

{{> footer.hbs }}