<div id="generated">
    <div id="generated-content">
        <!-- Generated -->

        <div id="div" class="uk-margin-auto uk-width-1-3">
            <div class="js-upload uk-placeholder">
                {{#each qubits}}
                    <div class="uk-width-1-2 uk-inline">
                            <p
                    </div>

                    <br/>
                    <br/>
                {{/each}}

            </div>
        </div>
    </div>
</div>