{{> header.hbs }}

<div>
    <div class="uk-margin-small-top uk-section uk-section-large">
        <div class="uk-text-center">
            <h3 class="light">Theorem | {{theorem.readable}}</h3>
            <p>See <a class="rem-1" href="/theorems/">all rules →</a></p>

            <div id="theorem" class="uk-margin-medium-top">
                {{& theorem.conditions}}

                <br />

                <b>Then:</b>

                <br />
                <br />

                {{theorem.math}}

                {{#if theorem.note}}
                    <br />
                    <br />

                    <p><i>Note: </i> {{theorem.note}}</p>
                {{/if}}

            </div>
        </div>
    </div>
</div>

{{> footer.hbs }}