<div id="footer" class="uk-text-center {{#if position-bottom}}uk-position-bottom{{/if}}">
    <div class="uk-margin-medium-bottom">
        <a class="black disable-link-highlighting uk-margin-medium-right" href="/campaigns"><b>Campaigns</b></a>
        <a class="black disable-link-highlighting uk-margin-medium-right" href="/environment"><b>IQE</b></a>
        <a class="black disable-link-highlighting" href="/about"><b>About</b></a>
    </div>

    <div class="uk-margin-small-top">
        <p>By Adam Ratzman</p>
    </div>
</div>

</body>

<!-- MathJax -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML'></script>

</html>