{{> header.hbs }}

<div>
    <div class="uk-margin-small-top uk-section uk-section-large">
        <div class="uk-text-center">
            <h3 class="light">Practice Problems | {{type.readable}}</h3>

            {{& problems}}
        </div>
    </div>
</div>

{{> footer.hbs }}